
.navbar{
    width: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    z-index: 1;
}

.searchbar{
    width: 100%;
    border: solid 0px #EEE;
    border-left-width: 1px;
    border-bottom-width: 1px;
    padding-left: 20px;
}

.searchbar input{
    height: 35px;
    width: 50vw;
    font-family: inherit;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 300;
    padding: 10px ;
}

.search-icon{
    margin-bottom: -0.2%;
    margin-left: 5px;
}

.sidebar{
    position: fixed;
    top: 0px;
    width: 220px;
    border: solid 0px #EEE;
    border-right-width: 1px;
    height: 100vh;
}

.sidebar{
    padding-top: 92px;
}

.side-button{
    border: solid 0px #EF5466;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    height: 24px;
    padding-left: 4px;
    color: black;
}

.side-button:hover svg {
    fill: #EF5466;
}

.side-button:hover span {
    color: #EF5466;
}

.active{
    fill: #EF5466;
}

.active span{
    color: #EF5466;
}

.active div{
    padding-left: 0px;
    border-left-width: 4px;
}


.side-icon{
    margin-left: 20px;
    
}

.side-button span{
    position: absolute;
    margin-left: 13px;
    font-size: 18px;
}

.sidebar-box{
    width:85%;
    padding: 20px 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2692b7;
    background-image: linear-gradient(56deg,#0087c1 13%,#89d7bb);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,.1);
    color: white;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 48px;
}

.sidebar-box-button{
    border: solid 1px white;
    text-align: center;
    padding: 10px;
    margin-top: 13px;
    color: white;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    transition: 0.3s;
}

.sidebar-box-button:hover{
    background: rgba(255, 255, 255, 0.2);
}

