
.album-cover{
    position: relative;
    width: 80%;
    height: auto;
    background-color: #EEE;
    border-radius: 5px;
    border: none;
    opacity: 1;
    transition: 0.2s;
}

.album-cover:hover{
    opacity: 0.8;
}



.song{
    padding-right: 15px;
    width: 25%;
    margin-bottom: 80px;
}

.section-name{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 25px;
}

.song-title{
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
}

.song-artist{
    margin-top: 5px;
    font-weight: 300;
    font-size: 13px;
}

.song-duration{
    margin-top: 5px;
    font-weight: 300;
    font-size: 12px;
}

.button-icon{
    padding:6px;
}
.button-box{
    position: absolute;
    align-items: center;
    transform: translate(10%, -140%);
    height: 50px;
    width: 150px;
}


.button {
    margin-top: 5px;
    margin-right: 6px;
    margin-left: 6px;
    padding: 5px 3px 3px 3px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover{
    padding: 10px 3px 3px 3px;
    width: 45px;
    height: 45px;
    margin-right: 2px;
    margin-left: 1px;
}

