@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html{
    text-rendering: optimizeLegibility;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.icon{
    padding: 7px 5px 0px 5px;
    margin-right: 46px;
    height: 36px;
    width: auto;
}


div{
    box-sizing: border-box;
}



p{
    margin: 0px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.content{
    margin-left: 220px;
    padding: 100px 6vw 90px 6vw;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


